
@{
    ViewBag.Title = "Update2";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@{ if (Model == 0)
    {
        <h2 class="bg-danger"> Error</h2>
    }
    else
    {
        <h2 class="bg-success">Success. Ozellik tipi guncellendi</h2>
    }
}
