
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<br />
<a class="btn btn-primary btn-block" href="/Satis/Sifaris">Sifarisleri gor</a>
<br />
<br />
<a class="btn btn-success btn-block" href="/Satis/Satilan">Satislari gor</a>

